<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                I enjoy working on and learning about the latest emerging technology be it software (ChatGPT, AI, MetaHuman, etc), hardware (phones, computer, tablets, etc.), electric/hydrogen powered vehicles, integrating renewable energy into everyday infrastructure, etc. My passion in using knowledge to turn ideas into reality has led me to pursue a career in engineering. I've created engineering drawing for fabrication purposes, intergrating software with hardware devices, 3d modeling in AutoCAD, SolidWorks, and Inventor, etc. 
            </p>
            <p class="paragraph-text justify-text">
               My email address can be found at the <span class="extra-link"><a href="#extra">bottom</a></span> of this page.
            </p>
        </div>
    </section>
</div>
